header{
    background-color: rgb(255, 0, 200);
    height: 100px;
}

h1{
    text-align: center;
    color: rgb(12, 8, 8);
    margin-top: 20px;
}

article{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

section{
    display: flex;
}